.border{
	border: 30px solid rgb(0, 0, 225)
}

body{
	text-align: center;
	

}

.a{
	width: 100px;
	height: 50px
}



h1{
	font-size: 500%;
}

#b{
	font-size: 150%;
}



body {
   
    background-color: lightgray;
   }

body {
   
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75%  {background-color: green;}
    100% {background-color: red;}
}

/* Standard syntax */
@keyframes example {
     0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75%  {background-color: green;}
    100% {background-color: red;}
}








